.pokedex {
  border: 1px solid red;
  margin: auto;
  padding: 0 40px;
  background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
  background: linear-gradient(to bottom, #ff6a00, #ee0979);
}

.information-pokemon {
  display: flex;
  flex-wrap: wrap;
}

.image-pokemon {
  background: rgb(187, 238, 240);
  border: 10px solid rgb(71, 69, 69);
  width: 300px;
  box-sizing: border-box;
  margin: 20px auto 0;
}

.data-pokemon {
  background: rgb(133, 234, 238);
  border: 10px solid rgb(141, 138, 138);
  margin: 20px auto;
  padding: 5px 10px;
  text-transform: capitalize;
  width: 300px;
  box-sizing: border-box;
}

.image {
  width: 200px;
  margin: 5px 10px;
}

.name-pokemon {
  text-align: center;
  text-transform: capitalize;
  color: red;
  font-weight: bolder;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  margin: 20px auto;
}

.input {
  border: 1px solid red;
  width: 90%;
  display: block;
  margin: 30px auto;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  outline: none;
  text-align: center;
  font-size: 16px;
}

.data {
  display: block;
  text-align: center;
  align-items: flex-start;
  margin: 20px auto;
}

.datatype {
  margin: 0;
  text-align: start;
}

.data-result {
  margin-top: 20px;
}

.image-group {
  display: flex;
}

.types-pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.type {
  border: 2px solid white;
  width: 60px;
  text-align: center;
  background: rgb(132, 243, 237);
  color: blue;
  text-transform: capitalize;
  padding: 6px;
  border-radius: 15px;
  margin: 8px;
  font-weight: bolder;
}

.abilities {
  width: 120px;
  text-align: start;
  padding: 0;
  margin: 3px auto;
  /* border: 1px solid red; */
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: blue;
  border: 2px solid white;
}
